.type-post,
.type-page,
.type-attachment  {
	margin: 0 0 2.5em 0;
	max-width: 100%;
}

.entry-title {
	display: inline;
	margin: 0;
	padding: 0;
	color: #242424;
	text-transform: uppercase;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	font-weight: bold;
	font-size: 20px;
	font-size: 1.25rem;
	font-family: 'Montserrat', Verdana, Arial;
}

.entry-title a:link,
.entry-title a:visited {
	color: #242424;
	text-decoration: none;
	transition: all 0.2s ease;
}

.entry-title a:hover,
.entry-title a:active {
	color: #57b7d7;
}

.entry-content {
	font-size: 18px;
	font-size: 1.125rem;
}

.entry-content a {
	text-decoration: underline;
}

.wp-post-image {
	margin: 0 0 0.5em;
}

/* Page Links */
.page-links {
	margin: 0;
	word-spacing: 1em;
	font-weight: bold;
}
