/* Read more Link */
.more-link {
	display: block;
	margin: 0;
	padding: 0.5em 1em;
	border: 1px solid;
	@include border-color(--button-border-color);
	@include background(--button-color);
	@include color(--button-text-color);
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	@include font-size(14);
	font-family: 'Montserrat', Verdana, Arial;
	transition: all 0.2s ease;
}

.more-link:link,
.more-link:visited {
	@include color(--button-text-color);
}

.more-link:hover,
.more-link:active {
	@include border-color(--button-hover-color);
	@include background(--button-hover-color);
	@include color(--button-hover-text-color);
}

.entry-content > .more-link {
	text-decoration: none;
}
