/* Post Navigation */
.post-navigation {
	padding: 1em 0;
}

.post-navigation .nav-links .nav-previous {
	float: left;
}

.post-navigation .nav-links .nav-next {
	float: right;
}

.post-navigation .nav-links .nav-previous a:before {
	margin-right: 3px;
	content: "\00AB";
}

.post-navigation .nav-links .nav-next a:after {
	margin-left: 4px;
	content: "\00BB";
}

.post-navigation .nav-links a {
	margin: 0 0 3px;
	padding: 1em;
	border: 1px solid #e5e5e5;
	background: #f5f5f5;
	color: #242424;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	font-size: 0.875rem;
	font-family: 'Montserrat', Verdana, Arial;
	transition: all 0.2s ease;
}

.post-navigation .nav-links a:link,
.post-navigation .nav-links a:visited  {
	color: #242424;
}

.post-navigation .nav-links a:hover,
.post-navigation .nav-links a:active {
	border-color: #57b7d7;
	background: #57b7d7;
	color: #fff;
}
