/* Post Navigation */
.post-navigation {
	padding: 1em 0;
}

.post-navigation .nav-links {
	display: flex;
	justify-content: space-between;
}

.post-navigation .nav-links .nav-previous a::before {
	margin-right: 3px;
	content: "\00AB";
}

.post-navigation .nav-links .nav-next a::after {
	margin-left: 4px;
	content: "\00BB";
}

.post-navigation .nav-links a {
	display: block;
	margin: 0 0 3px;
	padding: 1em;
	border: 1px solid;
	@include border-color(--button-border-color);
	@include background(--button-color);
	@include color(--button-text-color);
	text-decoration: none;
	@include font-size(14);
	@include font-family(--widget-title-font);
	@include font-weight(--widget-title-font-weight);
	@include text-transform(--widget-title-text-transform);
	transition: all 0.2s ease;
}

.post-navigation .nav-links a:link,
.post-navigation .nav-links a:visited {
	@include color(--button-text-color);
}

.post-navigation .nav-links a:hover,
.post-navigation .nav-links a:active {
	@include border-color(--button-hover-color);
	@include background(--button-hover-color);
	@include color(--button-hover-text-color);
}
