.site-header {
	border-bottom: 1px solid;
	@include border-color(--light-border-color);
	@include background(--header-background-color);
}

.header-main {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.site-branding {
	float: left;
	margin: 0.5em 0;
	padding: 0;
	max-width: 100%;
}

.site-branding a:link,
.site-branding a:visited,
.site-branding a:hover {
	padding: 0;
	border: none;
	text-decoration: none;
}

.site-title {
	display: inline-block;
	margin: 0.35rem 0;
	padding: 0;
	@include color(--site-title-color);
	text-decoration: none;
	@include font-size(24);
	@include font-family(--title-font);
	@include font-weight(--title-font-weight);
	@include text-transform(--title-text-transform);
	@include line-height(--title-line-height);
}

.site-title a:link,
.site-title a:visited {
	@include color(--site-title-color);
}

.site-title a:hover,
.site-title a:active {
	@include color(--site-title-hover-color);
}

.site-branding .custom-logo {
	margin: 0 1em 0 0;
	padding: 0;
	max-width: 100%;
	height: auto;
	border: none;
	vertical-align: top;
}

.site-description {
	margin: -0.4em 0 0.7em;
	@include font-size(14);
}

.header-image {
	margin: -1px 0 0;
	vertical-align: top;
}

/*  Header Title */
.header-title-image {
	margin: -1px 0 0;
	height: 720px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}

.header-title-image-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 720px;
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
}

.header-title-image-container .header-title-wrap {
	width: 100%;
}

.header-title {
	display: inline;
	margin: 0;
	padding: 0;
	color: #fff;
	text-shadow: 0 0 5px #333;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	@include font-size(64);
	@include font-family(--title-font);
	@include font-weight(--title-font-weight);
	@include text-transform(--title-text-transform);
	@include line-height(--title-line-height);
}

.header-title-image-container .header-title {
	color: #fff;
}

/* Page Header without image */
.header-title-background {
	padding: 75px 0;
	border-bottom: 1px solid #e5e5e5;
	background: #f5f5f5;
	text-align: center;
}

.header-title-background .page-header .header-title {
	@include color(--title-color);
	text-shadow: none;
}

/* Page Header with search */
.header-title-background .page-header .search-form,
.header-title-wrap .page-header .search-form {
	margin: 1em auto 0;
	max-width: 800px;
}

/* Reduce size on large screens */
@media only screen and (min-width: 70em) {
	.header-title-background .page-header .header-title {
		@include font-size(48);
	}
}
