@media only screen and (max-width: 70em) {

	/* Magazine Post Widgets */
	.widget-magazine-posts .large-post .entry-title {
		@include font-size(22);
	}

	.widget-magazine-posts .medium-post .entry-title {
		@include font-size(18);
	}

	.widget-magazine-posts .small-post .small-post-content {
		padding-left: 1.5em;
	}

	.widget-magazine-posts .small-post .entry-title {
		@include font-size(16);
	}
}

@media only screen and (max-width: 60em) {

	/* Magazine Post Widgets */
	.home .latest-posts-title,
	.widget-magazine-posts .widget-title {
		@include font-size(16);
	}

	.widget-magazine-posts .large-post .entry-title {
		@include font-size(20);
	}

	.widget-magazine-posts .large-post .entry-content {
		@include font-size(17);
	}

	.widget-magazine-posts .medium-post .entry-title {
		@include font-size(16);
	}

	.widget-magazine-posts .small-post .entry-title {
		@include font-size(15);
	}
}

@media only screen and (max-width: 55em) {

	/* Magazine Post Widgets */
	.widget-magazine-posts .small-post .entry-title {
		@include font-size(14);
	}
}

@media only screen and (max-width: 50em) {

	/* Magazine Post Widgets */
	.widget-magazine-posts .large-post .entry-title {
		@include font-size(18);
	}

	.widget-magazine-posts .medium-post .entry-title {
		@include font-size(15);
	}

	.widget-magazine-posts .medium-post .entry-content {
		display: none;
	}
}

@media only screen and (max-width: 45em) {

	/* Magazine Post Widgets */
	.widget-magazine-posts .large-post .entry-title {
		@include font-size(16);
	}

	.widget-magazine-posts .medium-post .entry-title {
		@include font-size(14);
	}

	.widget-magazine-posts .small-post .entry-title {
		@include font-size(13);
	}

	.widget-magazine-posts .small-post .small-post-content {
		padding-left: 1em;
	}

	.widget-magazine-posts .small-post .entry-meta {
		display: none;
	}
}

@media only screen and (max-width: 40em) {

	/* Magazine Posts Grid Widget */
	.widget-magazine-posts .magazine-grid-three-columns {
		display: block;
		margin-right: 0;
	}

	.widget-magazine-posts .magazine-grid-three-columns .post-column {
		padding-right: 0;
		width: 100%;
	}

	.widget-magazine-posts .medium-post .wp-post-image {
		float: left;
		margin: 0 1.5em 0 0;
		min-width: 80px;
		max-width: 35%;
	}

	.widget-magazine-posts .medium-post .entry-title {
		@include font-size(16);
	}
}

@media only screen and (max-width: 35em) {

	/* Magazine Post Widgets */
	.widget-magazine-posts .large-post .entry-title {
		@include font-size(20);
	}

	.widget-magazine-posts .medium-post .entry-title,
	.widget-magazine-posts .small-post .entry-title {
		@include font-size(15);
	}

	.widget-magazine-posts .small-post .small-post-content {
		padding-left: 1.5em;
	}

	.widget-magazine-posts .small-post .entry-meta {
		display: block;
	}

	/* Magazine Posts Grid Widget */
	.widget-magazine-posts .magazine-grid-two-columns {
		display: block;
		margin-right: 0;
	}

	.widget-magazine-posts .magazine-grid-two-columns .post-column {
		padding-right: 0;
		width: 100%;
	}
}

@media only screen and (max-width: 30em) {

	/* Magazine Post Widgets */
	.home .latest-posts-title,
	.widget-magazine-posts .widget-title {
		@include font-size(15);
	}

	.widget-magazine-posts .large-post .entry-title {
		@include font-size(18);
	}

	.widget-magazine-posts .medium-post .wp-post-image {
		margin: 0 1em 0 0;
		max-width: 30%;
	}

	.widget-magazine-posts .small-post .post-image {
		width: 30%;
	}

	.widget-magazine-posts .small-post .small-post-content {
		width: 70%;
		padding-left: 1em;
	}

	.widget-magazine-posts .medium-post .entry-title,
	.widget-magazine-posts .small-post .entry-title {
		@include font-size(14);
	}
}

@media only screen and (max-width: 25em) {

	/* Magazine Post Widgets */
	.widget-magazine-posts .large-post .entry-title {
		@include font-size(17);
	}

	.widget-magazine-posts .medium-post .entry-title,
	.widget-magazine-posts .small-post .entry-title {
		@include font-size(13);
	}

	.widget-magazine-posts .medium-post .entry-meta,
	.widget-magazine-posts .small-post .entry-meta {
		display: none;
	}
}
