@media only screen and (max-width: 80em) {
	.header-title {
		@include font-size(54);
	}

	.page-header .entry-meta {
		@include font-size(17);
	}

	.page-header .entry-meta span .icon {
		width: 18px;
		height: 18px;
	}
}

@media only screen and (max-width: 70em) {
	.header-title {
		@include font-size(44);
	}

	.page-header .entry-meta {
		@include font-size(16);
	}

	.page-header .entry-meta span .icon {
		width: 16px;
		height: 16px;
	}

	.entry-title {
		@include font-size(18);
	}
}

@media only screen and (max-width: 55em) {
	.header-title {
		@include font-size(36);
	}

	.page-header .entry-meta {
		@include font-size(15);
	}

	.page-header .entry-meta span .icon {
		width: 14px;
		height: 14px;
	}
}

@media only screen and (max-width: 40em) {
	.header-title {
		@include font-size(28);
	}

	.page-header .entry-meta {
		@include font-size(14);
	}

	.page-header .entry-meta span .icon {
		width: 13px;
		height: 13px;
	}
}

@media only screen and (max-width: 30em) {
	.header-title {
		@include font-size(24);
	}
}

@media only screen and (max-width: 20em) {
	.site-branding .site-title {
		@include font-size(24);
	}

	.header-title {
		@include font-size(22);
	}

	.post-layout-two-columns .entry-title,
	.post-layout-three-columns .entry-title,
	.widget-magazine-posts .large-post .entry-title {
		@include font-size(16);
	}
}
