/* Archive Description */
.page-header .blog-description,
.page-header .archive-description {
	@include font-size(20);
}

.page-header .blog-description,
.page-header .archive-description p {
	margin: 0.5em 0 0;
}

/* Archive Posts Columns */
.post-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -2.5em;
}

.post-wrapper .post-column {
	box-sizing: border-box;
	padding-right: 2.5em;
}

/* Two Column Layout */
.post-layout-two-columns .post-wrapper .post-column {
	width: 50%;
}

/* Three Column Layout */
.post-layout-three-columns .post-wrapper .post-column {
	width: 33.3333333333333%;
}

.post-layout-three-columns .content-archive {
	float: none;
	padding: 0;
	width: 100%;
}

/* Archive Posts Styling */
.post-wrapper .post-column article .entry-content {
	@include font-size(17);
}
