.widget-magazine-posts {
	margin-bottom: -2.5em;
}

.home .latest-posts-title,
.widget-magazine-posts .widget-title {
	display: block;
	margin: 0 0 1.5em;
	padding: 0.75em 0;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	color: #242424;
	text-align: center;
	font-size: 18px;
	font-size: 1.125rem;
}

/* Large Post Styling */
.widget-magazine-posts .large-post .entry-title {
	font-size: 24px;
	font-size: 1.5rem;
}

.widget-magazine-posts .large-post .entry-content {
	font-size: 18px;
	font-size: 1.125rem;
}

/* Medium Post Styling */
.widget-magazine-posts .medium-post .entry-title {
	font-size: 20px;
	font-size: 1.25rem;
}

.widget-magazine-posts .medium-post .entry-content {
	font-size: 17px;
	font-size: 1.0625rem;
}

/* Small Post Styling */
.widget-magazine-posts .small-post {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.widget-magazine-posts .small-post .post-image {
	width: 35%;
}

.widget-magazine-posts .small-post .small-post-content {
	width: 65%;
	padding-left: 2em;
}

.widget-magazine-posts .small-post .wp-post-image {
	margin: 0 0 0.25em;
	vertical-align: top;
}

.widget-magazine-posts .small-post .entry-title {
	font-size: 18px;
	font-size: 1.125rem;
}

.widget-magazine-posts .medium-post .entry-meta,
.widget-magazine-posts .small-post .entry-meta {
	font-size: 13px;
	font-size: 0.8125rem;
}

/* Magazine Posts Grid Widget */
.widget-magazine-posts .magazine-grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -2.5em;
}

.widget-magazine-posts .magazine-grid .post-column {
	box-sizing: border-box;
	padding-right: 2.5em;
}

.widget-magazine-posts .magazine-grid-two-columns .post-column {
	width: 50%;
}

.widget-magazine-posts .magazine-grid-three-columns .post-column {
	width: 33.3333333333333%;
}
