/* Sidebar Left */
.sidebar-left .content-area {
	float: right;
	padding-right: 0;
	padding-left: 4em;
}

.sidebar-left .sidebar {
	float: left;
}

@media only screen and (max-width: 70em) {
	.sidebar-left .content-area {
		padding-left: 2em;
	}

}

@media only screen and (max-width: 55em) {
	.sidebar-left .content-area {
		float: none;
		padding: 0;
		width: 100%;
	}

}

/* Sticky Header */
@media only screen and (min-width: 60.001em) {
	.sticky-header .site-header {
		position: fixed;
		top: 0;
		z-index: 100;
		width: 100%;
	}

	.sticky-header.admin-bar .site-header  {
		top: 32px;
	}

	.sticky-header .header-bar-wrap {
		display: none;
	}
}

@media only screen and (max-width: 60em) {
	.sticky-header {
		padding-top: 0 !important;
	}
}
