.widget {
	margin: 0 0 2.5em 0;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.widget-header {
	margin: 0 0 1em 0;
}

.widget-title {
	display: inline-block;
	margin: 0;
	padding: 0;
	@include color(--widget-title-color);
	text-transform: uppercase;
	font-weight: bold;
	@include font-size(16);
	font-family: 'Montserrat', Verdana, Arial;
}

.widget ul {
	margin: 0;
	padding: 0 0.3em;
	list-style: circle inside;
}

.widget ul .children,
.widget ul .sub-menu {
	margin: 0.5em 0 0.5em 1em;
	padding: 0;
}

.widget-title a:link,
.widget-title a:visited {
	@include color(--widget-title-color);
	transition: all 0.2s ease;
}

.widget-title a:hover,
.widget-title a:active {
	@include color(--widget-title-hover-color);
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/* Theme Search Widget */
.search-form {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
}

.search-form .screen-reader-text {
	display: none;
}

.search-form .search-field {
	display: inline-block;
	box-sizing: border-box;
	margin: 0;
	padding: 0.7em 1.5em 0.7em 1em;
	width: 100%;
	-webkit-appearance: none;
}

.search-form .search-submit {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.7em 0.9em 0 0.3em;
	cursor: pointer;
}

.search-form .search-submit .genericon-search {
	display: inline-block;
	padding: 0.2em 0 0.4em 0.45em;
	color: #242424;
	content: '\f400';
	vertical-align: middle;
	text-decoration: inherit;
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	font-family: 'Genericons';
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.search-form .search-submit:hover .genericon-search {
	color: #fff;
}
